
.app{
    background: #013d58;
    padding: 50px 25px;
    text-align: center;
}
input{
    margin: 15px auto 40px auto ;
    padding: 15px 10px;
    width: 45%;
    /* float: right; */
    border: none;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin: 0px;
    color: white;
    /* margin-top: 25px; */
    
}
h4{
    color: rgba(255, 255, 255, 0.692);
    font-weight: normal;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 45px;
}